<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/carrousel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/carousel2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center title">The most view <span class="dot">.</span></h1>
    <div class="col-lg-3 col-md-4 col-sm-6 articles">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/matin-cote-d-azur-1492596990-954-2017-04.jpg" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="text-end">2105€</p>
            </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/les-deux-sapins-1519292309-447-2018-02.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">1199€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/les-deux-sapins-1519292309-447-2018-02.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">6199€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/matin-cote-d-azur-1492596990-954-2017-04.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">4859€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/lever-du-soleil-1519388360-491-2018-02.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">861€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/matin-cote-d-azur-1492596990-954-2017-04.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">1125€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/matin-cote-d-azur-1492596990-954-2017-04.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">3752€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/matin-cote-d-azur-1492596990-954-2017-04.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">6583€</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/matin-cote-d-azur-1492596990-954-2017-04.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">5687€</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/coucher-de-soleil-sur-les-roseaux-1518889241-524-2018-02.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">7861€</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/coucher-de-soleil-sur-les-roseaux-1518889241-524-2018-02.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">4253€</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 ">
      <a routerLink="view-article">
        <div class="card">
          <img src="https://www.expositionpeinture.com/coucher-de-soleil-sur-les-roseaux-1518889241-524-2018-02.jpg" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-end">10565€</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<h1 class="text-center title">Why us <span class="dot">.</span></h1>
<section id="caracteristics">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3">
        <i class="far fa-clock fa-4x"></i>
        <p class="title-block">Fast delivery</p>
        <p class="caracteristic-text">Everything you order at Stencil will be quickly delivered to your door.</p>
      </div>

      <div class="col-lg-3">
        <i class="fas fa-phone-square-alt fa fa-4x"></i>
        <p class="title-block">AVAILABLE</p>
        <p class="caracteristic-text"> Available 24h/24h 7days/7days </p>
      </div>
      <div class="col-lg-3">
        <i class="fas fa-shipping-fast fa fa-4x"></i>
        <p class="title-block">EXPERIENCED CHEFS</p>
        <p class="caracteristic-text">We use only the best ingredients to cook the tasty fresh food for you.</p>
      </div>
      <div class="col-lg-3">
        <i class="fab fa-angrycreative fa-4x"></i>
        <p class="title-block">A VARIETY OF DISHES</p>
        <p class="caracteristic-text">We are very exigent about the creativity and the quality.</p>
      </div>
    </div>
  </div>

</section>




