<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img id="article_image" src="https://www.expositionpeinture.com/romantica-1609433683-925-2020-12.jpg" alt="item" class="img-fluid">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="item-info">
        <p class="item-title">Lady Kellen</p>
        <strong>Author : <span class="author">Frenkie De Jong</span></strong><br><br>
        <strong class="mb-2">Price : <span class="price">11600€</span></strong>
        <div class="stars">
          <ul>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
          </ul>
        </div>

        <div class="quantity">
          <strong>Quantity : </strong><span class="inStock"><i class="fas fa-check"></i> In stock</span>
        </div>

        <div class="description mt-3">
          <strong>Description : </strong><span class="descirpt">Beauty</span>
        </div>

        <div class="caracteristic mt-4">
          <p><strong>Caracteristic</strong></p>

        </div>

        <p>SKU P-7435494964</p>
        <P>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantium, totam rem aperiam eaque ipsa quae ab illo inventore</P>
        <hr>
        <div class="add-to-cart">
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>


  </div>
</div>
